h1 {
}

/*---------------------------------
    Header and Nav for all pages
---------------------------------*/
.Header-Wrapper {
        border-bottom: solid 1px black;
        width: 100%;
        top: 0px;
	position:fixed;
	background:rgba(255,255,255,0.95);
	height: 120px;
	z-index:999;
}

#Title-Logo-Wrapper {
	width: 100%;
	height: 100px;
	margin-bottom:35px;
	margin-top:-50px;	
}

.logo-wrapper {
	max-width: 100px;
	float: left;
	margin-top: 55px;
}

#logo {
	width: 100px;
	height: 100px;			
}

#title {
	text-align: center;
	padding-top: 2.0%;
	font-size: 20px;
	padding-right: 7%;
	font-family: "Open Sans", sans-serif;  
	font-size: 1.3em;
}


#Nav-bar {
	text-align: center;
	font-family: "Open Sans", sans-serif;
	letter-spacing: 1.5px;
}

#Nav-bar li {
	display: inline;
	padding: 0 2%;
	font-size: 20px;
}

#Nav-bar a {
	color: black;
	text-decoration: none; /*can put a strike through for text*/
	padding: 5px;
}

#Nav-bar a:hover {
	transition:color 200ms ease;
	color: #ff6666;
}

#content {
	width: 70%;
	#margin-right: 40px;
	#margin-left: 40px;
	margin: 0 auto;
	margin-top: 160px;
	font-size: 20px;
	line-height: 30px;
	font-family: "Roboto", sans-serif;
}

#content li {
	margin-left:30px;
}

#gist {
	font-size: 14px;
	line-height: 18px;
}

/*-------------------------------------
    Home page styling (index.html)
-------------------------------------*/

#welcome-message {
	font-size: 50px;
	text-align: center;
	padding-top: 50px;
	font-family: "Raleway", sans-serif;
        letter-spacing: 1.5px;

}

